@model VideoViewModel

    <div class="col-sm-12">
        <div class="card mt-2">
            <h5 class="card-header bg-primary text-white card-title">
                @Model.Title
            </h5>
            <div class="card-body">
                @Model.Genre
                <div class="text-left">
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@Model.Id">Details</a>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>
